<%= render 'shared/content_title', title: "Profile: #{@user.username}" %>

<div class='row'>
  <div class='span8 well'>
    <p><strong>Username:</strong> <%= @user.username %></p>
  </div>
</div>

<ul class='nav nav-tabs'>
  <li class='<%= 'active' if params[:tab].nil? || params[:tab] == 'posts'  %>'><%= link_to "Posts (#{@user.posts.size})", user_path(@user, tab: 'posts') %></li>
  <li class='<%= 'active' if params[:tab] == 'comments' %>'><%= link_to "Comments  (#{@user.comments.size})", user_path(@user, tab: 'comments') %></li>
</ul>

<% if params[:tab].nil? || params[:tab] == 'posts' %>
  <% @user.posts.each do |post| %>
    <%= render 'posts/post', post: post %>
  <% end %>
<% elsif params[:tab] == 'comments' %>
  <% @user.comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
<% end %>

