<%= render 'shared/errors', obj: @post %>

<div class='well'>
  <%= form_for @post do |f| %>
    <div class='control-group'>
      <%= f.label :title, "Title" %>
      <%= f.text_field :title %>
    </div>
    <div class='control-group'>
      <%= f.label :url, "URL" %>
      <%= f.text_field :url %>
    </div>
    <div class='control-group'>
      <%= f.label :description, "Description" %>
      <%= f.text_area :description, rows: 5 %>
    </div>
    <div class='control-group'>
      <%= f.label :categories, "Categories" %>
      <%= collection_check_boxes(:post, :category_ids, Category.all, :id, :name) %>
    </div>
    <%= f.submit(@post.new_record? ? 'Create Post' : 'Update Post', class: 'btn btn-primary') %>
  <% end %>
</div>
