<% if @post.errors.any? %>
  <h5>Please fix the following errors:</h5>
  <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% end %>

<%= form_for @post do |f| %>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>
  <%= f.label :url, "URL" %>
  <%= f.text_field :url %>
  <%= f.label :description, "Description" %>
  <%= f.text_area :description %><br/>
  <%= f.submit %>
<% end %>
