<% if @post.errors.any? %>
  <div class='row'>
    <div class='alert alert-error span8'>
    <h5>Please fix the following errors:</h5>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </div>
  </div>
<% end %>

<div class='well'>
  <%= form_for @post do |f| %>
    <div class='control-group'>
      <%= f.label :title, "Title" %>
      <%= f.text_field :title %>
    </div>
    <div class='control-group'>
      <%= f.label :url, "URL" %>
      <%= f.text_field :url %>
    </div>
    <div class='control-group'>
      <%= f.label :description, "Description" %>
      <%= f.text_area :description, rows: 5 %>
    </div>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
