<% if @category.errors.any? %>
  <div class='row'>
    <div class='alert alert-error span8'>
    <h5>Please fix the following errors:</h5>
    <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </div>
  </div>
<% end %>

<div class='well'>
  <%= form_for @category do |f| %>
    <div class='control-group'>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>
    </div>
    <%= f.submit(@category.new_record? ? 'Create Category' : 'Update Category', class: 'btn btn-primary') %>
  <% end %>
</div>
